{% extends 'base.html.twig' %}

{% block content %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Register</h1>
            </div>

            {{ form_start(form) }}
                {{ form_row(form.email) }}
                {{ form_row(form.plainPassword.first) }}
                {{ form_row(form.plainPassword.second) }}

                <button type="submit">Register!</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
